<p>table-editable works!</p>
<!-- Editable table -->
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">טבלת הנוכחות שלי</h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <span class="table-add float-right mb-3 mr-2">
          <a class="text-success" (click)="add()">
           
          </a>
        </span>
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <tr>
            <th class="text-center">תאריך</th>
            <th class="text-center">יום בשבוע</th>
            <th class="text-center">סוג פעולה</th>
            <th class="text-center">שעה</th>
            
          </tr>
          <tr *ngFor="let action of actionList ; let id = index">
            <td>
              <span (keyup)="changeValue(id, 'date', $event)" (blur)="updateList(id, 'date', $event)" contenteditable="true">{{action.date}}</span>
            </td>
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'day', $event)" (blur)="updateList(id, 'day', $event)">{{action.date}}</span>
            </td>
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'type', $event)" (blur)="updateList(id, 'type', $event)">{{action.actionTypeId}}</span>
            </td>
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'time', $event)" (blur)="updateList(id, 'time', $event)">{{action.date}}</span>
            </td>
            <td>
              <span class="table-up">
                <a class="indigo-text">
                  <mdb-icon fas icon="long-arrow-alt-up"></mdb-icon>
                </a>
              </span>
              <span class="table-down">
                <a class="indigo-text">
                  <mdb-icon fas icon="long-arrow-alt-down"></mdb-icon>
                </a>
              </span>
            </td>
            <td>
              <span class="table-remove">
                <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(id)">Remove</button>
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!-- Editable table -->