<!-- <div class="container">-->
    <div class="bg-img">
        <div class="header row d-flex justify-content-between align-items-center">
            <div class="profil col"><user-profil></user-profil></div>
            <div class="menu col-6 d-flex justify-content-center">                
                <div *ngIf="IsManager()" class="menu-btn2" (click)="Nevigate('employee-list')">ניהול עובדים</div>
                <div class="menu-btn1" (click)="Nevigate('attandance')">דוחות</div>
            </div>
            <div class="logo col">
                SmartDoor    
            </div>            
        </div>        
        <div class="content">
            <router-outlet></router-outlet> 
        </div>
    </div>
<!-- </div> -->

