<div class="container">
  <div class="header">
    <div class="title d-flex justify-content-center">
      <p class="title-txt">רשימת עובדים</p>
    </div>
    <button class="btn">עובד חדש</button>

  </div>
  <div class="list container">
    <div class="filter d-flex justify-content-around">
      <div class="department-filter input-group mb-3">
        <input type="text" class="form-control filter-input" aria-label="Default" placeholder="...חיפוש"
          aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">מחלקה</span>
        </div>
      </div>

      <div class="id-filter input-group mb-3">
        <input type="text" class="form-control filter-input" aria-label="Default" placeholder="...חיפוש"
          aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">ת.ז.</span>
        </div>
      </div>

      <div class="name-filter input-group mb-3">
        <input type="text" class="form-control filter-input " aria-label="Default" placeholder="...חיפוש"
          aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">שם</span>
        </div>
      </div>
    </div>
    <div>

    </div>
    <div class="employee-list ">
      <div class="list-group">
        <div  class="list-group-item header-col">
          <div class="col-2">שם מלא</div>
          <div class="col-2">תז</div>
          <div class="col-2">מחלקה</div>
          <div class="col-2">מנהל ישיר</div>
          <div class="col-2">מחק</div>
        </div>

        <div *ngFor="let emp of employeeList"  class="list-group-item emp-item">
          <div class="col-2">{{emp.firstName +' '+ emp.lastName }}</div>
          <div class="col-2">{{emp.employeeId}}</div>
          <div class="col-2">{{emp.department}}</div>
          <div class="col-2">{{emp.managerFirstName+' '+ emp.managerLasttName}}</div>
          <div class="col-2 btns">
            <button class="edit-btn">ערוך</button>
            <button class="report-btn" (click)="GoToAttendance(emp.employeeId)">דו"ח נוכחות</button>            
          </div>
        </div>
        
      </div>
     
    </div>
  </div>

</div>