
.title{
   font-size: 24px; 
}
.department-filter  {
   margin: 2%;
}

.name-filter{
   margin: 2%;        
}
.id-filter{
   margin: 2%;
}
.filter-input{
   text-align: right;
}

input:focus, textarea:focus, select:focus{
   outline: none !important;
}
textarea:focus, input:focus{
   outline: none;
}

.emp-list{
   text-align: center;
}
.title-txt{
   font-size: 34px;
   margin: 0;
}
.btn{
   background-color: rgb(0, 0, 0);
    border: 1.5px solid;
    border-radius: 20px;
    color: white;
}
.btn:hover{
   background-color: #9869FF;
   color: black;
}
.header-col{
    
    font-size: 14px;
    border: 0;
    font-weight: bold;
    border-bottom: 1px solid;
    border-radius: 1px;   
    
    display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   text-align: center;
}

.emp-item{   
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   text-align: center;
}

.list-group{
   overflow-y: auto;
   max-height: 300px;
}
.btns{
   display: flex;
    justify-content: space-evenly;
}
.report-btn{
   background-color: #7425ff;
   border: 1px solid white;
   border-radius: 10px;
   color: white;
}
.edit-btn{
   background-color: white;
   border: 1px solid;
   border-radius: 10px;
}

.report-btn:hover{
   background-color: white !important;
   border: 1px solid black !important;
   color: black !important;
   border-radius: 10px;
}